<!DOCTYPE html>
<html>
<head>
    <%- include('common/_head') %>
    <title>BERKUT</title>
</head>
<body>
    <%- include('index/_controller.ejs') %>
    <%- include('index/_finder.ejs') %>
    <%- include('index/_status_bar.ejs') %>
</body>
</html>