<div id="berkut-body">
  <div class="berkut-pane left">
    <%- include('partial/_layers') %>
    <%- include('partial/_crossfader') %>
  </div>
  <div class="berkut-pane right">
    <%- include('partial/_finder') %>
  </div>
</div>
