<div id="berkut-body" class="berkut-body">
  <div class="berkut-pane left">
    <%- include('berkut_body/_berkut_deck') %>
    <%- include('berkut_body/_berkut_crossfader') %>
  </div>
  <div class="berkut-pane right">
    <%- include('berkut_body/_berkut_output_preview') %>
    <%- include('berkut_body/_berkut_finder') %>
  </div>
</div>
