<!doctype html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <title>Output</title>
    <style>
     body { background-color: black; padding: 0; margin: 0 }
     .output {
         position: absolute;
         top: 0; left: 0;
         width: 100%; height: 100%;
         padding: 0; margin: 0
     }
    </style>
    <script>
      window.jQuery = window.$ = require('jquery')
      window.Vue = require('vue')
      window.ipc = require('electron').ipcRenderer
      window.remote = require('electron').remote
      window.MemoryReader = require('../lib/pointer_tunnel').Reader
      window.dashboardPid = null
      window.pixelsLength = 4
      window.pixelsCache = new Uint8Array(4)
    </script>
    <script src="js/index.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        window.reader = new MemoryReader()
        window.bOutput = new BERKUT.Output(document.querySelector('#output'))
        ipc.on('berkut-output:updated', (event, pid, address, width, height) => {
          if (dashboardPid !== pid) {
            reader.connect(pid)
            dashboardPid = pid
          }
          if (pixelsLength !== width * height * 4) {
            pixelsLength = width * height * 4
            pixelsCache = new Uint8Array(pixelsLength)
            bOutput.setSizse(width, height)
          }
          if (dashboardPid) { reader.read(address, pixelsCache) }
          bOutput.draw(pixelsCache, width, height)
        })
      })
    </script>
  </head>
  <body>
    <canvas id="output" class="output"></canvas>
  </body>
</html>
