<div id="cross_fader_wrapper">
  <input type="text"
         data-provide="slider"
         data-slider-id="cross_fader"
         data-slider-handle="square"
         data-slider-min="-1"
         data-slider-max="1"
         data-slider-step="0.01"
         data-slider-value="0"
         data-slider-tooltip="hide" />
</div>
