<div id="finder">
  <div class="finder_search_box_wrapper form-group">
    <input class="form-control" type="text" placeholder="Search media file..." />
  </div>
  <div class="finder_files_container">

      <div class="thumbnail">
        <img alt="loading" src=""/>
        <div class="caption"></div>
      </div>

    <div style="clear: both"></div>
  </div>
</div>
