<div id="berkut-finder">
  <div class="finder_search_box_wrapper form-group">
    <input
        class="form-control"
        type="text"
        placeholder="Search media file..."
        v-model="query" />
  </div>
  <div class="finder_files_container">
    
    <div class="thumbnail" v-for="result in results" track-by="$index">
      <img alt="loading" src=""/>
      <div class="caption">{{result.name}}</div>
    </div>
    
    <div style="clear: both"></div>
  </div>
</div>
</div>
