<!-- header -->
<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" href="#">BERKUT</a>
    </div>

    <ul class="navbar-nav nav">
      <li class="dropdown">
        <a class="dropdown-toggle"
           href="#"
           data-toggle="dropdown"
           role="button"
           aria-haspopup="true"
           aria-expanded="false">File</a>
        <ul class="dropdown-menu">
          <li><a href="#">New Library</a></li>
          <li><a href="#">Load Library</a></li>
        </ul>
      </li>

      <li class="dropdown">
        <a class="dropdown-toggle"
           href="#"
           data-toggle="dropdown"
           role="button"
           aria-haspopup="true"
           aria-expanded="false">Help</a>
        <ul class="dropdown-menu">
          <li><a href="#">About</a></li>
        </ul>
      </li>
    </ul>

  </div>
</nav>
