<div id="berkut-layers-holder">
  <% for(i=0; i < 6; i = i + 1) { %>
    <div class="berkut-layer row">
      <div class="col-md-3 layer-thumbnail"></div>
      <div class="col-md-7 layer-controller-main">
        <div class="row layer-controller-buttons">

          <div class="col-md-6 btn-group" data-toggle="buttons">
            <label class="btn btn-default"><input type="radio" autocomplete="off" />A</label>
            <label class="btn btn-default"><input type="radio" autocomplete="off" checked="checked" />N</label>
            <label class="btn btn-default"><input type="radio" autocomplete="off" />B</label>
          </div>
          <div class="col-md-6 btn-group" data-toggle="buttons">
            <label class="btn btn-default"><input type="checkbox" autocomplete="off" />Mut</label>
            <label class="btn btn-default"><input type="checkbox" autocomplete="off" />Sol</label>
            <label class="btn btn-default"><input type="checkbox" autocomplete="off" />Rtm</label>
          </div>

        </div>
        <div class="layer-controller-seekbar">
          <div class="row">
            <div class="col-md-6">
              <input type="text"
                     data-provide="slider"
                     data-slider-tooltip-position="bottom"
                     data-slider-min="0"
                     data-slider-max="1"
                     data-slider-step="0.01"
                     data-slider-value="0"/>
            </div>
            <div class="col-md-6">
              <select class="form-control">
                <% Object.keys(blendTechniques).forEach((key) => { %>
                  <option value="<%= key %>"><%= blendTechniques[key] %></option>
                <% }) %>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 opacity-slider">
        <input type="text""
               data-provide="slider"
               data-slider-orientation="vertical"
               data-slider-tooltip-position="left"
               data-slider-reversed="true"
               data-slider-min="0"
               data-slider-max="1"
               data-slider-step="0.01"
               data-slider-value="0"/>
      </div>
    </div>
  <% } %>
</div>
