.berkut-deck {
  height: 90%;
  border: 2px solid $foreground-darker;

  .berkut-layer {
    height: calc(100% / 6);
    width: 100%;
    padding: 6px;
    margin: 0;
    background-color: $background-dark;

    &:nth-child(2n) {
      background-color: $background-normal;
    }

    * {
      font-size: 11px;
    }

    @mixin berkut-layer-component {
      height: 100%;
      padding: 0;
    }

    @mixin berkut-layer-half-component {
      height: 50%;
      width: 100%;
    }

    @mixin berkut-layer-serial-button {
      width: calc((100% + 2px) / 3);
      height: 100%;
    }

    @import 'berkut_layer/berkut_layer_preview';
    @import 'berkut_layer/berkut_layer_deck_selector_and_seekbar';
    @import 'berkut_layer/berkut_layer_behavior_and_blend_technique';
    @import 'berkut_layer/berkut_layer_opacity_slider';
  }
}
