.berkut-crossfader-wrapper {
  position: relative;
  top: 2%;
  height: 8%;

  .slider {
    width: 100%;
    height: 100%;
    overflow: hidden;

    .slider-handle {
      height: 100%;
    }
  }
}
