.berkut-output-preview-wrapper {
  height: calc(100% - #{$crossfader-height + $deck-height});
  padding: $margin 0;

  .berkut-output-preview {
    height: 100%;
    width: 100%;
    background-color: $background-darker;
  }
}
