// _override_webkit.scss

select.form-control {
    border-radius: 0;
    border: none;
    background-color: #111;
    color: #aaa;
    cursor: pointer;
    box-shadow: 0 0 transparent;

    &:hover { box-shadow: 0 0 transparent; }
    &:active { box-shadow: 0 0 transparent; }
}