<section id="status-bar" class="status-bar">
  <div class="clock">
    SUN, JAN 01, 00:00 AM
  </div>
  <div class="logo">
    BERKUT 1.0.0
  </div>
  <div class="meter-holder">
    <div class="meter cpu">
      <span class="meter-label">CPU</span>
      <input type="text" v-el:cpu-meter-factory />
    </div>
    <div class="meter gpu">
      <span class="meter-label">GPU</span>
      <input type="text" v-el:gpu-meter-factory />
    </div>
  </div>
</section>
