$bg-color-darker: #111;
$bg-color-dark: #222;
$bg-color-normal: #333;
$bg-color-light: #444;
$bg-color-lighter: #555;

$fg-color-darker: #888;
$fg-color-dark: #999;
$fg-color-normal: #aaa;
$fg-color-light: #bbb;
$fg-color-lighter: #ccc;
