.berkut-layer-opacity-slider-wrapper {
  @include berkut-layer-component;

  .slider {
    @include bootstrap-slider-without-handle;
    height: 100%;
    width: 100%;
    border: 1px solid transparent;
  }
}
