@import 'bootstrap';
@import 'variables';
@import "override_bootstrap";
@import "override_webkit";

#berkut-body {
  position: absolute;
  top: #{$header-height + $margin}; bottom: $margin;
  left: $margin; right: $margin;

  div.berkut-pane {
    position: absolute;
    width: calc(50% - #{$margin / 2}); height: 100%;
    &.left {
      @import "layers";
      @import "crossfader";
    }
    &.right {
      left: calc(50% + #{$margin / 2});
      @import "finder";
    }
  }
}
