// layout
$header-height: 50px;
$margin: 12px;

$deck-height: 400px;
$deck-width: 400px;
$preview-output-height: 160px;
$crossfader-height: 48px;


// color
$foreground-lighter: #fff;
$foreground-light: #ddd;
$foreground-normal: #aaa;
$foreground-dark: #777;
$foreground-darker: #555;

$background-lighter: #555;
$background-light: #444;
$background-normal: #333;
$background-dark: #222;
$background-darker: #111;

$highlight-normal: #1e90ff;
$highlight-light: #87ceeb;
