@import 'bootstrap';
@import 'variables';
@import 'reset';
@import 'mixins';

body {
  padding-top: $header-height;
  min-width: 780px;
  user-select: none;
  background-color: $background-normal;
  color: $foreground-dark;

  @import 'berkut_header';
  @import 'berkut_body';
  @import 'berkut_modal';
}
