<div id="cross_fader_wrapper" class="berkut-crossfader-wrapper">
  <input type="text"
         class="bootstrap-slider-target"
         data-provide="slider"
         data-slider-handle="square"
         data-slider-selection="none"
         data-slider-min="-1"
         data-slider-max="1"
         data-slider-step="0.01"
         data-slider-value="0"
         data-slider-tooltip="hide" />
</div>
