<div id="berkut-finder" class="berkut-finder">
  <div class="berkut-finder-search-box-wrapper form-group">
    <input
        class="form-control"
        type="text"
        placeholder="Search media file..."
        v-model="query" />
  </div>

  <div class="berkut-finder-files-container" class="berkut-finder-files-container">
    <div
      class="berkut-finder-file"
      v-for="result in results"
      track-by="$index"
      draggable="true"
      v-on:dragstart="beginDrag($index, $event)">
      <canvas class="berkut-finder-file-thumbnail"></canvas>
      <div class="berkut-finder-file-caption">{{result.name}}</div>
    </div>
  </div>
</div>
