<section class="bpm-selector">
  <div class="transform">/2</div>
  <input class="bpm-value" type="text" value="120"/>
  <div class="transform">*2</div>
  <div class="tap-button">TAP</div>
  <ul class="indicator">
    <li class="indicator-bar"></li>
    <li class="indicator-bar"></li>
    <li class="indicator-bar"></li>
    <li class="indicator-bar"></li>
  </ul>
</section>
