<section id="cross-fader" class="cross-fader">
  <div class="button left"><i class="fa fa-chevron-circle-left"></i></div>
  <input type="text" v-el:cross-fader-factory />
  <div class="button right"><i class="fa fa-chevron-circle-right"></i></div>
</section>
