<section class="deck-wrapper">
  <% ['a', 'b'].forEach((deckname) => { %>
  <div class="deck <%- deckname %>">
    <div class="deck-label"><%- deckname.toUpperCase() %></div>
    <div class="vinyl">
      <div class="circle"></div>
      <div class="bar"></div>
    </div>
  </div>
  <% }) %>
</section>
