<section class="search-bar">
  <label class="search-bar-wrapper">
    <input class="search-bar-input" type="text" placeholder="Search media files...">
    <i class="fa fa-search search-bar-icon"></i>
  </label>
</section>