<section id="stack" class="stack">
  <component-layer />
</section>

<script id="template-layer" type="x-template">
  <div class="layer active">
    <canvas class="layer-preview"></canvas>
  </div>
</script>