<section id="stack" class="stack">
  <component-layer></component-layer>
  <component-layer></component-layer>
  <component-layer></component-layer>
  <component-layer></component-layer>
  <component-layer></component-layer>
  <component-layer></component-layer>
</section>

<script id="template-layer" type="x-template">
  <div class="layer">
    <div class="layer-preview-wrapper">
      <canvas class="layer-preview"></canvas>
      <input type="text" v-el:seekbar-factory />
    </div>
    <div class="opacity-selector-wrapper">
      <input type="text" v-el:opacity-selector-factory />
    </div>
  </div>
</script>