<section id="stack" class="stack">
  <component-layer></component-layer>
  <component-layer></component-layer>
  <component-layer></component-layer>
  <component-layer></component-layer>
  <component-layer></component-layer>
  <component-layer></component-layer>
</section>

<script id="template-layer" type="x-template">
  <div class="layer">
    <div class="layer-preview-wrapper">
      <canvas class="layer-preview"></canvas>
      <input type="text" v-el:seekbar-factory />
    </div>
    <div class="opacity-selector-wrapper">
      <input type="text" v-el:opacity-selector-factory />
    </div>
    <div class="speed-adjuster">
      <div class="speed-adjuster-label">Speed Adjuster</div>
      <div class="mode-switcher">
        <div class="switch">BEAT</div>
        <div class="switch">RATE</div>
        <div class="switch">BPM</div>
      </div>
      <div class="value-selector">
        <div class="transformer down">/2</div>
        <div class="value-input-wrapper">
          <input type="text" class="value-input" value="1.000">
        </div>
        <div class="transformer up">*2</div>
      </div>
    </div>
  </div>
</script>