.status-bar {
  position: absolute;
  width: 100%;
  height: 28px;
  bottom: 0;
  padding: 0 8px;
  box-sizing: border-box;
  background-color: $bg-color-darker;
  color: $fg-color-darker;
  line-height: 28px;
}
