<!DOCTYPE html>
<html>
<head>
    <%- include('common/_head') %>
    <link rel="stylesheet" href="assets/styles/main.css">
    <title>BERKUT</title>
</head>
<body>
    <%- include('index/_controller') %>
    <%- include('index/_finder') %>
    <%- include('index/_status_bar') %>
</body>
</html>